<div class='row'>
  <div class='col-md-12'>
    <h3>Conseils</h3>
    <ul class='advices'>
      <% if (advice1) { %>  <li><%= advice1 %></li><% }  %>
      <% if (advice2) { %>  <li><%= advice2 %></li><% }  %>
      <% if (advice3) { %>  <li><%= advice3 %></li><% }  %>
      <% if (advice4) { %>  <li><%= advice4 %></li><% }  %>
      <% if (advice5) { %>  <li><%= advice5 %></li><% }  %>
    </ul>
  </div>
</div>
<div class="row">
  <div class='col-md-4'>
    <h3>Membre</h3>
    <%= memberSituation %>
    <div class='copy-example'>
      <%= memberExample %>
    </div>
  </div>
  <div class='col-md-4'>
    <h3>Responsable</h3>
    <%= hostSituation %>
    <div class='copy-example'>
      <%= hostExample %>
    </div>
  </div>
  <div class='col-md-4'>
    <h3>Producteur</h3>
    <%= prodSituation %>
    <div class='copy-example'>
      <%= prodExample %>
    </div>
  </div>
</div>
